

.RepMap {
  margin: 2rem 2rem 2rem 25rem; /* Adjust the top and bottom margins as needed */
  width: 30rem; /* Set a fixed width */
  border: 2px solid #367ca5ff;
  box-shadow: 1px 2px 10px #ff4f59ff;
}

.mapbox {
  border: 2px solid #367ca5ff;
  box-shadow: 1px 2px 10px #ff4f59ff;
}

.container-fluid {
  padding-top: 3%;
  padding-bottom: 15%;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
